<div class="form-group row d-flex justify-content-center align-items-center " style="
    min-height: 90vh;
    width: 90vw;
">

    
        <div class="col-sm-4">
            <img class="m-5 rounded float-left img-fluid" [src]="image"
            style="max-width: auto; max-height: auto; width: auto; height: auto;">
        </div>
        
        <div class="col-sm-8 text-center">
            <p class="display-1">Awww....Don't Cry.</p>
            <p class="display-5">It's just a 404 Error!</p>
            <p class="display-6">What you're looking for may have been misplaced in Long Term Memory</p>
        </div>
   


</div>


